@import '../../_styleguide.scss';
@import '../../_mixins.scss';
.splash {
  @include flex-container(column, center, center);
  background-color: $blue;
  height: 100vh;
  width: 100vw;
  animation: appear 0.8s ease-out;
}

.splash__svg {
  animation: burst 2s ease-out;
}

@keyframes appear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1
  }
}

@keyframes burst {
  0% {
    opacity: 0.2;
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.8);
    opacity: 1;
  }
}