@import '../../_reset.scss';
@import '../../_mixins.scss';

$blue: #b8f7f1;
$darkBlue: #1a5f67;

.splash {
  background-color: $blue;
  height: 100vh;
  width: 100vw;
  @include flex-container(column, center, center);
}

.splash__title,
.splash__subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $darkBlue;
}

.splash__title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.header__splash{
  @include flex-container(column, center, center);
  // margin-bottom: 5rem;
}