@import '../../_styleguide.scss';
@import '../../_mixins.scss';

.home {
  @include flex-container(column, space-around, center);
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/forest.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250% 250%;
  color: $white;
  font-family: $header-font;
}

.home__header {
  @include flex-container(column, center, center);
}
.home__title,
.home__subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $darkBlue;
}

.home__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.home__blurb {
  @include flex-container(column, space-around, center);
  height: 10rem;
  width: 80%;
  max-width: 600px;
  background-color: $darkBlue;
  border-radius: 10px;
  opacity: 0.8;
  box-sizing: border-box;
  text-align: center;
}

.home__btns {
  @include flex-container(row, space-between, center);
  width: 80%;
  max-width: 600px;
}

.home__btn {
  @include flex-container(row, center, center);
  background-color: $darkBlue;
  border-radius: 5px;
  color: $white;
  height: 30px;
  width: 100 / 360 * 100%;
  box-shadow: 1px 4px 10px $darkBlue;
  text-decoration: none;
  text-transform: uppercase;
  &:focus {
    cursor: pointer;
    box-shadow: 0 0 10px $darkBlue;
  }
  &:active {
    outline: none;
    box-shadow: 0 0 10px $darkBlue;
  }
}
