@import '../_styleguide.scss';
@import '../_reset.scss';
@import '../_mixins.scss';
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  @include flex-container(column, center, center);
}

#root {
  @include flex-container(column, flex-start, center);
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  font-family: $body-font;
  color: $black;
}