@import '../../_styleguide.scss';
@import '../../_mixins.scss';
.carousel {
  @include flex-container(row, center, center);
  height: 430 / 640 * 100%;
  width: 100%;
}

// Carousel slides
.carousel__slides {
  @include flex-container(column, center, center);
  height: 100%;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  width: 260 / 360 * 100%;
  background-color: $white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  text-align: center;
  &--active {
    @include flex-container(column, space-around, center);
  }
}

.slide__header {
  @include flex-container(column, center, center)
}

.slide__name {
  font-family: $header-font;
  font-weight: bold;
  font-size: 1.5rem;
}

.slide__about {
  font-family: $header-font;
  font-weight: bold;
  font-size: 1.1rem;
}

.slide__main {
  height: 70%;
  width: 90%;
  @include flex-container(row, center, center)
}

.slide__content {
  height: 90%;
  @include flex-container(column, space-between, flex-start)
}

// Content of slides
.slide__symptom {
  @include flex-container(column, center, center);
  min-height: 55 / 245 * 100%;
  width: 75%;
  opacity: 0.8;
  z-index: 1000;
  border-radius: 5px;
  color: $white;
  &--physical {
    background-color: $green;
  }
  &--relational {
    background-color: $coral;
  }
  &--psychological {
    background-color: $slate;
  }
}

.slide__man {
  position: absolute;
  height: 40%;
  left: 50%;
  z-index: 0;
  &--Peter {
    fill: #7b554c;
  }
  &--Martin {
    fill: rgb(46, 95, 123);
  }
  &--Daniel {
    fill: rgb(41, 101, 60);
  }
  &--Jorge {
    fill: #613e6d;
  }
}

.slide__symptom-text {
  @include flex-container(column, center, center);
  width: 130 / 150 * 100%;
  height: 40 / 55 * 100%;
}

// Carousel arrows
.carousel__arrow {
  height: 410 / 430 * 100%;
  width: 20 / 360 * 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.5;
  }
}

// Carousel indicators
.indicators {
  @include flex-container(row, space-around, center);
  width: 60 / 360 * 100%;
  height: 10 / 640 * 100%;
  margin-top: 20px;
}

.indicator {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $black;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
  &:hover {
    opacity: 0.5;
  }
  &--active {
    &,
    &:hover {
      opacity: 0.75;
    }
  }
}